<p>obavijesti works!</p>



<table class="table table-warning">
  <tr>
    <th>ID</th>
    <th>Naslov</th>
    <th>Tekst</th>
    <th>Created</th>
    <th>Modified</th>
    <th>Akcija</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of obavijestiPodaci">
    <td>{{s.id}}</td>
    <td>{{s.naslov}}</td>
    <td>{{s.tekst}}</td>
    <td>{{s.evidentiraoKorisnik.korisnickoIme}} {{s.datum_kreiranja}}</td>
    <td>{{s.izmijenioKorisnik!=null?s.izmijenioKorisnik.korisnickoIme:""}} {{s.datum_update!=null?s.datum_update:""}}</td>
    <td>
      <button (click)="obrisi(s)">Obrisi</button>
      <button (click)="detalji(s)">Detalji</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="form-label" (click)="btnNovi()">Nova obavijest</button>


<div *ngIf="urediObavijest!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
        <button type="button" class="btn-close" (click)="urediObavijest = null" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naslov</label>
          <input class="form-control" [(ngModel)]="urediObavijest.naslov"  placeholder="Naslov">
        </div>
        <div class="mb-3">
          <label class="form-label">Tekst</label>
          <textarea class="form-control" [(ngModel)]="urediObavijest.tekst"  placeholder="Tekst" rows="30" cols="120">
          </textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="urediObavijest = null " >Close</button>
        <button type="button" class="btn btn-primary" (click)="snimi()">Save changes</button>
      </div>
    </div>
  </div>
</div>
