<p>edit-student works!</p>

<div *ngIf="urediStudent!=null && urediStudent.prikazi" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
        <button type="button" class="btn-close" (click)="urediStudent.prikazi = false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ime studenta</label>
          <input class="form-control" [(ngModel)]="urediStudent.ime"  placeholder="Ime studenta">
        </div>
        <div class="mb-3">
          <label class="form-label">Prezime studenta</label>
          <input class="form-control" [(ngModel)]="urediStudent.prezime"  placeholder="Prezime studenta">
        </div>
        <div class="mb-3">
          <label class="form-label">Opstina rodjenja</label>
          <input type="number" class="form-control" [(ngModel)]="urediStudent.opstina_rodjenja_id"  placeholder="Opstina rodjenja id">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="urediStudent.prikazi = false" >Close</button>
        <button type="button" class="btn btn-primary" (click)="snimi()">Save changes</button>
      </div>
    </div>
  </div>
</div>
